.center-section{
    clear: both;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 6px 20px rgba(47,66,81,0.05);
    border-radius: 3px;
    padding: 50px;
    margin: 30px auto;
    max-width: 1145px;
    display: table;
    min-height: 500px;
}