/* LOGO*/
.top-logo-container {width: 20em;}

/* OVERRIDE BUTTONS DEFAULT BEHAVIOR */
.btn {font-weight: 400; height: 30px; -moz-user-select: none; -webkit-user-select: none; user-select: none;}

/* LOGIN FORM CONTAINER */
.card-container {display: flex; flex-direction: column; align-items: center;}
.card {max-width: 350px; padding: 0px 25px 0px;  margin: 0 auto 15px;}
.card > div {width: 90%; display: flex; flex-direction: column;}

/* LINKS UNDER THE FORM */
.login_links {padding: 0; max-width: 270px; display: flex; flex-direction: row; justify-content: space-between; border-top: 1px solid #37474f;}
.login_links a {color: #37474f; font-size: 1.22rem;}
.login_links a:hover, .login_links a:active, .login_links a:focus {color: #37474f;}

/* FORM AND FORM ELEMENTS */
.form-group {margin-bottom: 0;}
.form-group.row div {display: flex; flex-direction: column;}
.btn.btn-signin {background-color: #90a4ae; color: #37474f; padding: 0px; width: 65%; font-weight: 700; font-size: 1em; height: 30px; border: none; -o-transition: all 0.218s; -moz-transition: all 0.218s; -webkit-transition: all 0.218s; transition: all 0.218s;}
.btn.btn-signin:hover, .btn.btn-signin:active, .btn.btn-signin:focus {background-color: #37474f; color:  #90a4ae;}
.btn.btn-signin.change, .btn.btn-signin.forgot {width: 50%;}
input[type=checkbox], input[type=radio] {vertical-align: -2px;}
.checkbox_div {margin: 1rem 0;}
input#city {background-color: #eee;}
input#state {background-color: #eee;}
input#country {background-color: #eee;}

/* ERROR MESSAGES */
.top-error-message  {width: 60%; padding-top: 0; padding-bottom: 2em; text-align: center;}
.top-login-error {width: 100% !important; color: #37474f; font-size: 1.3rem;  padding: 0 1em; text-align: center;}
.top-login-error > .k-notification {padding: 5px 2px; margin-top: 3px;}

/* SIGNUP FORM CONTAINER */
.jumbotron {margin: 0 auto; width: 50%; background: transparent; padding-top: 0;}
.jumbotron p {font-size: 85%; color: #37474f; margin-top: 1rem; border: 0;}

/* MASKED INPUT STYLE OVERRIDE */
.k-maskedtextbox.top-form-control {padding: 0; border: 0;}
.k-maskedtextbox input.top-form-control {border-radius: 0;  box-shadow: none; padding-top: 8px;}
.k-maskedtextbox .k-widget.k-tooltip-validation .k-i-warning {display: inline-block; top: 10px;  right: 95%;}
.k-maskedtextbox .k-widget.k-tooltip-validation {position: absolute;  left: 7px;   top: 40px; padding-left: 0.8rem;padding-top: 0.6rem;}