<div class="cont-cent">
    <div class="forgot-sec">
        <div class="row">
            <label class="desc-label">Please provide your email address, and we will send your login information.</label>
        </div>
        <div class="row mt-3">
            <div class="col-8 pl-0 mt-3">
                <input class="input-box1" type="text" id="Email" placeholder="E-mail"
                    name="claimthistopic-loginmaintab-logintab-iforgot-email-kendoCombobox" />
                <div class="mt-2 input-bord"></div>
            </div>
            <div class="col-4">
                <button type="submit" name="submit" class="btn button-submit w-100">
                    <label class="btn-label">SUBMIT</label>
                </button>
            </div>
        </div>
    </div>
</div>