.login-tab .center-sec{clear:both;width:100%;background:#FFFFFF;border-radius:3px;}
.login-tab .center-pad{padding: 0 20% 0 20%!important;}
.login-tab .center-pad1{padding: 0 15% 0 15%!important;}
.login-tab .center-pad2{padding: 0 10% 0 10%!important;}
.login-tab .center-pad3{padding: 0 0 0 0!important;}

