.container-fluid {padding: 35px!important;}
.buttton-ok{border-radius: 80px;}
.buttton-enter{border-radius: 36px;background: #94999B;margin-left: -1px;}
.input-box{background: #F0F2F3;border: 1px solid #E1E4E5;box-sizing: border-box;border-radius: 25px;}